/* .candy {
  background-color: rgb(76, 164, 164);
  border: 1px solid #e8a3a3;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.candy h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.candy button {
  background-color: #f60;
  border: none;
  border-radius: 4px;
  color: #3a1717;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 
}
 */
